.formRender {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form {
    height: max-content;
    width: 300px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.223);
    border-radius: 8px;
}
